body {
  font-family: sans-serif;
  text-align: center;
  background: #f7f7f7;
}
#viewer {
  margin-top: 20px;
}
img {
  width: 90%;
  max-width: 1000px;
  border: 1px solid #ccc;
}
button {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 1em;
}
